
<div [id]="'mainDiv'">
  <div [className]="'stationsDisplay'">
<div [id]="'station9'" [className]="'stations'">9</div>
<div [id]="'station8'" [className]="'stations'">8</div>
<div [id]="'station7'" [className]="'stations'">7</div>
<div [id]="'station6'" [className]="'stations'">6</div>
 <div [id]="'station5'" [className]="'stations'">5</div>
<div [id]="'station4'" [className]="'stations'">4</div>
<div [id]="'station3'" [className]="'stations'">3</div>
<div [id]="'station2'" [className]="'stations'">2</div>
<div [id]="'station1'" [className]="'stations'">1</div>

</div>  
</div> 
<div [className]="'footerDiv'"></div>

